:root {
    --darkblue: rgb(25, 64, 255);
    --mdblue: rgb(0, 128, 255);
    --mdgray: rgb(200, 200, 200);
    --white: white;
    --black: black;
}

header {
    background-color: var(--darkblue);
    color: var(--white);
    text-align: center;
    font-family: Arial;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.searchBtn {
    background-color: var(--mdblue);
    color: var(--white);
    width: 225px;
    height: 50px;
    padding: 10px;
    font-family: 'Arial', cursive;
    border-radius: 10px;
    margin: 7px;
}

.center {
    font-family: Arial;
    font-size: x-large;
    border-radius: 15px;
    border-color: var(--mdblue);
}

#search-input {
    padding: 5px;
    width: 225px;
    font-family: Comfortaa;
    margin: 7px;
}

#savedCity {
    background-color: var(--mdgray);
    color: var(--white);
    width: 225px;
    padding: 5px;
    font-family: 'Arial', cursive;
    border-radius: 10px;
    margin: 5px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.curWeather {
    width: 925px;
    height: 325px;
    border: dashed;
    margin-top: 25px;
    border-color: black;
   background-image: url('./img/weather.png');
   background-repeat: no-repeat;
   background-size: cover;
}

.city {
    font-size:50px;
}

/* .dateValue {
    font-size: 20px;
} */

.row {
    display: flex;
    justify-content: center;
}
.flex-column {
    display: flex;
    flex-wrap: wrap;
}

.column-item {
    flex: 1 0 25%; /* flex-grow, flex-shrink, flex-basis */
    width: 250px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--mdgray);
}

h4 {
    font-family: 'Arial', cursive;
    color: white;
    background-color: var(--darkblue);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}
 
p {
    background-color: var(--mdgray);
    font-size: small;
    font-family: Comfortaa;
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    border: 2px var(--white);
    font-weight: bold;
}
.upperContainer {
    display: flex;
}
.container {
    width: max-content;
    margin: 5px;
}

.forecastContainer{
    /* border: 3px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.foreCard {
    border-style:solid;
    border-width: 1px;
    padding: 10px;
    background-color: var(--mdgray);
    width: 250px;
    word-spacing: 5px;
  }
  .forecastContainer {
    height: 30vh;
    width: 150vh;
    border-style: solid;
    background-color: whitesmoke
    width=100%;
}